@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
* {
    font-family: 'Rubik', sans-serif;
}

.container {
    width: 850px;
    margin-top: 150px;
    margin: auto;
}

.inner-container {
    justify-content: center;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
    padding: 25px;
}

.docent-toevoeg-button  {
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    margin: auto;
    background-color: red;
}

.button-container a {
    padding: 7px;
    background-color: red;
    color: #1123;
}

.teacher-info-container {
    max-width: 600px;
    margin: auto;
}

.namen_columns {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
    padding: 15px;
    margin-bottom: 35px;
}

.teacher {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
    margin-top: 15px;
    padding: 15px;
}

.update-buttons {
    display: flex;
    justify-content: space-between;
}

/* #cont {
    display: none;
}
#show:target #cont {
    display: inline-block;
}
#show:target #show {
    display: none;
} */