<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin pagina</title>
    <link rel="stylesheet" href="/static/CSS/admin.css">
</head>

<body>
    <h1>Admin pagina</h1>
    <a href="/logout">Uitloggen</a>
    <div class="container">
        <div class="inner-container">
            <div class="teacher-info-container">
                <div class="namen_columns">
                    <div>
                        <p>Leraar ID</p>
                    </div>
                    <div>
                        <p>Volledige naam</p>
                    </div>
                    <div>
                        <p>Admin, 0 is Ja</p>
                    </div>
                    <div>
                        <a class="docent-toevoeg-button" href="/nieuw_account">Nieuwe docent toevoegen</a>
                    </div>
                </div>
                <div class="container-flex">
                    {% for teacher in teachers %}
                    <div class="teacher">
                        <div>
                            <p>{{ teacher.teacher_id }}</p>
                        </div>
                        <div>
                            <p>{{ teacher.display_name }}</p>
                        </div>
                        <div>
                            <p>{{ teacher.is_admin }}</p>
                        </div>
                        <div class="update-buttons">
                            <div>
                                <a href="/docent_aanpas/{{teacher.teacher_id}}">Aanpassen</a>
                            </div>
                            <div>
                                <!-- <a href="/verwijder_docent/{{teacher.teacher_id}}">Verwijderen</a> -->
                                <a href="#show" id="show">Verwijderen</a>
                            </div>
                        </div>
                    </div>
                    <div id="show">
                        <div id="cont">
                            <p>Weet je zeker dat je {{ teacher.display_name }} wilt verwijderen?</p>
                            <a href="#">Ja</a>
                            <a href="#hide" id="hide">Nee</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>

</html>