<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin pagina</title>
    <link rel="stylesheet" href="/static/CSS/admin.css">
    <link rel="stylesheet" href="/static//CSS/categories.css">
</head>

<body>

    <div class="header">
        <a href="#default" class="logo">TEST-CORRECT</a>
        <div class="header-right">
            <a href="/index">Notities</a>
            <a href="/categories">Categorieën</a>
            <a href="/admin" class="active">Admin</a>
            <a href="/logout">Uitloggen</a>
        </div>
    </div>

    <div class="container">
        <div class="inner-container">
            <div class="h1-btn-div">
                <h1>Admin pagina</h1>                
                <div>
                    <a class="docent-toevoeg-button" href="/nieuw_account">Nieuwe docent toevoegen</a>
                </div>
            </div>
            <div class="teacher-info-container">
                <div class="namen_columns">
                    <div>
                        <p>Leraar ID</p>
                    </div>
                    <div>
                        <p>Volledige naam</p>
                    </div>
                    <div>
                        <p>Admin?</p>
                    </div>
                </div>
                <div class="flash_message">
                    {% for message in get_flashed_messages() %}
                    <div class="inner_flash_message">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                <div class="container-flex">
                    {% for teacher in teachers %}
                    <div class="teacher">
                        <div class="box1">
                            <p>{{ teacher.teacher_id }}</p>
                        </div>
                        <div class="box2">
                            <p>{{ teacher.display_name }}</p>
                        </div>
                        <div class="box3">
                            {% if teacher.is_admin == 0 %}
                            <p>Ja</p>
                            {% else %}
                            <p>Nee</p>
                            {% endif %}
                        </div>

                        <div class="box4">
                            <a href="/docent_aanpas/{{teacher.teacher_id}}">Aanpassen</a>
                        </div>
                        <div class="box5">
                            <a href="/verwijder_docent/{{teacher.teacher_id}}">Verwijderen</a>
                        </div>

                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


</body>

</html>