<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>categories</title>
    <link rel="stylesheet" href="/static/css/header.css">
</head>

<body>
    <div class="header">
        <a href="#default" class="logo">TEST-CORRECT</a>
        <div class="header-right">
            <a href="/index">Notities</a>
            <a class="active" href="/categories">Categorieën</a>
            {% if session.is_admin == 0 %}
            <a href="/admin">Admin</a>
            {% endif %}
            <a href="/logout">Uitloggen</a>
        </div>
    </div>
    {% if session.username %}

    <p>Hallo, {{ session.username}}! U bent ingelogd</p>


    <div>
        <h2>nieuw categorie</h2>
        <div class="flash_message">
            {% for message in get_flashed_messages() %}
            <div class="inner_flash_message">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        <form method="post" action="/save-category">
            <div>
                <label for="description">Omschrijving:</label>
                <input type="text" name="description" required>
            </div>
            <div>
                <input type="submit" value="opslaan">
                <input type="reset" value="Reset">
            </div>
            <h2>Categorieën</h2>

            <ul>
                {% for category in categories %}
                <li>
                    <strong>Omschrijving:</strong> {{ category.omschrijving }}<br>
                    <strong>Gemaakt op:</strong> {{ category.date_created }}<br> 
                    {% if session.is_admin == 0%} 
                        <a href="/verwijder_categorie/{{category.category_id}}">Verwijderen</a> <br> 
                        <a href="/categorie_aanpas/{{category.category_id}}">Aanpassen</a>
                    {% endif %}
                    <hr>
                </li>
                {% endfor %}
            </ul>
        </form>
    </div>
    {% else %}
    <a href="/">Inloggen</a> <br>
    <a href="/register">Registreren</a>
    {% endif %}
</body>

</html>