<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/CSS/header.css">
</head>

<body>

    <div class="header">
        <a href="#default" class="logo">TEST-CORRECT</a>
        <div class="header-right">
            <a class="active" href="/index">Notities</a>
            <a href="/categories">Categorieën</a>
            {% if session.is_admin == 0 %}
            <a href="/admin">Admin</a>
            {% endif %}
            <a href="/logout">Uitloggen</a>
        </div>
    </div>
    {% if session.is_admin == 1%}


    <p>Hallo, {{ session.username}}! U bent ingelogd</p>

    <div>
        <h2>Nieuw notitie</h2>
        <form method="post" action="/save-note">
            <div>
                <label for="title">Titel:</label>
                <input type="text" name="title" required>
            </div>
            <div>
                <label for="note_source">Bron:</label>
                <input type="text" name="note_source" required>
            </div>
            <div>
                <label for="is_public">Openbaar:</label>
                <input type="checkbox" name="is_public" value="1">
            </div>
            <div>
                <label for="category_id">Categorie:</label>
                <select name="category_id" id="category_id" required>
                    {% for category in categories %}
                    <option value="{{ category.category_id }}">{{ category.omschrijving }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="flash_message">
                {% for message in get_flashed_messages() %}
                <div class="inner_flash_message">
                    {{ message }}
                </div>
                {% endfor %}
            </div>

            <div>
                <label for="note">Notitie:</label>
                <textarea name="note" rows="4" required></textarea>
            </div>
            <div>
                <input type="submit" value="Opslaan">
                <input type="reset" value="Reset">
            </div>
        </form>
    </div>

    <div>
        <a href="/export-notes" class="btn btn-primary">Exporteer notities naar CSV</a>
        <ul>
            {% for note in notes %}
            {% endfor %}
        </ul>
    </div>
<!-- 
    <div>
        <h2>Notities:</h2>
        <form id="searchForm">
            <input type="text" id="searchInput" placeholder="Zoek notities...">
            <button type="button" onclick="searchNotes()">Zoeken</button>
        </form>
        
        <ul id="noteList">
            {% for note in notes %}
            <li class="note-item">
                <strong class="note-title">{{ note.title }}</strong>
                <p><strong>Bron:</strong> {{ note.note_source }}</p>
                <p><strong>Openbaar:</strong> {{ note.is_public }}</p>
            </li>
            {% endfor %}
        </ul> -->
        <ul>
            {% for note in notes %}
            <li>
                <strong>Titel:</strong> {{ note.title }}<br>
                <strong>Bron:</strong> <a href="{{note.note_source}}">{{ note.note_source }}</a><br>
                <strong>Openbaar:</strong> {{ note.is_public }}<br>
                <strong>Leraren ID:</strong> {{ note.teacher_id }}<br>
                <strong>Notitie:</strong> {{ note.note }}<br>
                <strong>Gemaakt op:</strong> {{ note.date_created }}<br>
                {% if note.teacher_id == session.teacher_id %}
                <a href="/verwijder_notitie/{{note.note_id}}">Verwijderen</a>
                <a href="/notitie_aanpas/{{note.note_id}}">Aanpassen</a>
                {% endif %}
                <a href="/vragen/{{note.note_id}}">Genereer en bekijk vragen</a>
                <hr>
            </li>
            {% endfor %}
        </ul>
    </div>
    <script>
        function searchNotes() {
            var searchInput = document.getElementById('searchInput').value;
            var noteList = document.getElementById('noteList');

            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    noteList.innerHTML = xhr.responseText;
                }
            };

            var url = '/search-notes?search=' + encodeURIComponent(searchInput);

            xhr.open('GET', url, true);
            xhr.send();
        }
    </script>
    
    {% elif session.is_admin == 0 %}

    <div>
        <a href="/export-notes" class="btn btn-primary">Exporteer notities naar CSV</a>
        <ul>
            {% for note in notes %}
            {% endfor %}
        </ul>
    </div>

    <div class="container">
        <div class="inner-container">
            <div class="h2-edit">
                <h2>Alle notitties van docenten</h2>
            </div>
            <div class="all-notes-container">
                <div class="all-notes-names">
                    <div>
                        <p>Aangemaakt door</p>
                    </div>
                    <div>
                        <p>Titel</p>
                    </div>
                    <div>
                        <p>Bron</p>
                    </div>
                    <div>
                        <p>Openbaar</p>
                    </div>
                    <div>
                        <p>Gemaakt op</p>
                    </div>
                    <div>
                        <p>Notitie</p>
                    </div>
                </div>
                <div class="container-notes-data">
                    {% for note in notes %}
                    <div class="notes-data">
                        <div class="box1">
                            <p>{{ note.display_name }}</p>
                        </div>
                        <div class="box2">
                            <p>{{ note.title }}</p>
                        </div>
                        <div class="box3">
                            <p>{{ note.note_source }}</p>
                        </div>
                        <div class="box4">
                            {% if note.is_public == null %}
                            <p>Nee</p>
                            {% else %}
                            <p>Ja</p>
                            {% endif %}
                        </div>
                        <div class="box5">
                            <p>{{ note.date_created }}</p>
                        </div>
                        <div>
                            <p>{{ note.note }}</p>
                        </div>
                        <div>
                            <p></p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% else %}
        <a href="/">Inloggen</a> <br>
        <a href="/register">Registreren</a>
        {% endif %}
</body>

</html>