<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docent toevoegen</title>
    <link rel="stylesheet" href="/static/CSS/header.css">
    <link rel="stylesheet" href="/static/CSS/forms.css">
</head>

<body>
    <div class="header">
        <a href="#default" class="logo">TEST-CORRECT</a>
        <div class="header-right">
            <a href="/index">Notities</a>
            <a href="/categories">Categorieën</a>
            <a href="/admin" class="active">Admin</a>
            <a href="/logout">Uitloggen</a>
        </div>
    </div>

    <div class="container">
        <div class="inner-container">
            <div class="h2_edit">
                <h2>Registreren</h2>
            </div>
            <form action="/register_check_admin" method="POST" class="new_teacher_form">
                <label for="username">Gebruikersnaam:</label>
                <input type="text" name="username" id="username" required>

                <label for="password">Wachtwoord:</label>
                <input type="password" name="password" id="password" required>

                <label for="display_name">Volledige naam:</label>
                <input type="text" name="display_name" id="display_name" required>

                <label for="is_admin">Is admin?</label>
                <select name="is_admin" id="is_admin">
                    <option value="1">Nee</option>
                    <option value="0">Ja</option>
                </select>

                <button type="submit" class="new_teacher_form_btn">Registreren</button>
                <a href="/admin">Terug</a>
            </form>
        </div>
    </div>
</body>

</html>