<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="inner-container">
            <h2>Register</h2>
            <form action="/register_check" method="POST">
                <label for="username">Gebruikersnaam:</label>
                <input type="text" name="username" id="username">
    
                <label for="password">Wachtwoord:</label>
                <input type="password" name="password" id="password">

                <label for="display_name">Volledige naam:</label>
                <input type="text" name="display_name" id="display_name">

                {% if is_admin == 1 %}
                <label for="is_admin">Admin?</label>
                <input type="number" id="is_admin" name="is_admin">
                {% endif %}
    
                <button type="submit" name="button_submit_login">Registreren</button>
            </form>
        </div>
    </div>
</body>
</html>