<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vragen</title>
    <link rel="stylesheet" href="/static/CSS/header.css">
    <link rel="stylesheet" href="/static/CSS/vragen.css">
</head>
<body>
    <div class="header">
        <a href="#default" class="logo">TEST-CORRECT</a>
        <div class="header-right">
            <a class="active" href="/index">Notities</a>
            <a href="/categories">Categorieën</a>
            {% if session.is_admin == 0 %}
            <a href="/admin">Admin</a>
            {% endif %}
            <a href="/logout">Uitloggen</a>
        </div>
    </div>

    <div class="container">
        <div class="inner-container">
            <div class="h2-edit">
                <h2>Vragen genereren en bekijken</h2>
                
            </div>
            <div class="note">
                <p>trest</p>
                {% for notes in note %}
                <p>De note waar je naar kijkt: {{ notes.note }} {{ notes.note_id }}</p>
                <form action="/genereer_vraag" method="post">
                    <input type="text" name="question_note" value="{{notes.note}}" hidden>
                    <button type="submit" name="submit_question_note">Vraag generen</button>
                </form>
                {% endfor %}
            </div>
            <div class="flash_message">
                {% for message in get_flashed_messages() %}
                <div class="inner_flash_message">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            <div class="user-questions-container">
                <h2>Uw eigen vragen</h2>
                {% for question in get_all_questions_user %}
                <div class="user-questions">
                    <div>
                        <p>Gebruikersnaam:</p>
                        <p>{{ session.username }}</p><br>
                        <p>Examen vraag:</p>
                        <p>{{ question.exam_question }}</p><br>
                        <p>Gegenereeerde examen vraag:</p>
                        <p>{{ question.generated_question }}</p><br>
                        <p>Datum aangemaakt: </p>
                        <p>{{ question.date_created }}</p>
                        <a href="/verwijder_question/{{question.questions_id}}">Verwijderen</a>
                        <a href="/vraag_aanpas/{{question.questions_id}}">Aanpassen</a>
                        <hr>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="all-questions-container">
                <h2>Andere hun vragen gebaseerd op deze notitie</h2>
                {% for item in all_questions %}
                <div class="all-questions">
                    <div>
                        <p>Note:</p>
                        <p>{{ item.note }}</p> <br>  
                        <p>Examen vraag:</p>                      
                        <p>{{ item.exam_question }}</p> <br>
                        <p>Gegenereerde vraag Door Chatgpt:</p> 
                        <p>{{ item.generated_question }}</p><br>
                        <p>Datum aangemaakt:</p>
                        <p>{{ item.date_created }}</p>
                        <hr>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>